body {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

    color: #f8f8f2;
    background-color: #44475a;
}

header {
    display: flex;
}

#darkmodeSwitch {
    margin: 15px;
    margin-left: auto;
}

.darkMode {
    color: #44475a;
    background-color: #f8f8f2;
}




.hero {
    text-align: center;
    padding: 0 25px;
    margin: 0;
}



.barArea {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
    gap: 25px;
    flex-wrap: wrap;
}

.leftSide,
.rightSide {
    max-width: 500px;
    flex: 1 1 0;

}


.progress {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}



.coinInfo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.iconAndName {
    display: flex;
    align-items: center;
}

.coinIcon {
    width: 30px;
    border-radius: 50%;
    margin-bottom: 0;
}

.coinInfo h2 {
    margin-left: 10px;
}



.coinInfo p {
    font-size: 20px;
    font-weight: 900;
    margin-left: auto;
}

.athOnStatusBar {
    font-size: 28px;
    font-weight: 900;
    text-align: end;
    margin: 0;
    color: #bd93f9;
}



.statusBar {
    position: relative;
    height: 30px;
    width: 100%;
    background-color: #cfcfc8;
    border-radius: 25px;
}




@keyframes growFromLeft {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

.status-bar-fill {
    transform-origin: 0% 50%;
    transform: cubic-bezier(.32, 0, .07, 1);
    animation: 0.69s growFromLeft;
    position: absolute;
    height: 100%;
    /* width: auto; */
    background-color: #ff5555;
    border-radius: 25px;
    /* border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 0px; */
}

.logo-rotate {
    transform: rotate(180deg);
}


#logo:active {
    translate: 5px;
}




.status-bar-fill:hover {
    background-color: #f1fa8c;
}

footer {
    text-align: center;
    padding: 10px;
    /* margin: 10px; */
}