body {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

    color: #f8f8f2;
    background-color: #282a36;
}

header {
    display: flex;
}

#darkmodeSwitch {
    margin: 15px;
    margin-left: auto;
}






.hero {
    text-align: center;
    padding: 0 25px;
    margin: 0;
}



.barArea {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    gap: 25px;
    flex-wrap: wrap;
}

.leftSide,
.rightSide {
    /* max-width: 500px; */
    flex: 1 1 0;

}


.progress {
    padding: 50px 30px;
    justify-content: space-between;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border: 5px solid #44475a;
    border-radius: 15px;
    /* height: 200px; */
}




.coinInfo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.iconAndName {
    display: flex;
    align-items: center;
    width: 300px;
}

.coinIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.iconAndName h2 {
    margin-left: 10px;
    font-size: 42px;
    /* margin-bottom: 0; */
}

.priceAndPercent {
    margin-left: auto;
}

.priceAndPercent p {
    margin: 0;
}




.currentPrice,
.percent {
    font-weight: 900;
    text-align: right;
}

.currentPrice {
    font-size: 36px;
    color: #ff79c6;
}

.percent {
    font-size: 20px;
}

.athOnStatusBar {
    font-size: 24px;
    font-weight: 900;
    text-align: end;
    margin: 0;
    color: #bd93f9;
}



.statusBar {
    position: relative;
    height: 30px;
    width: 100%;
    /* background-color: #cfcfc8; */
    background-color: transparent;
    border-radius: 25px;
    border: 5px solid #bd93f9
}




@keyframes growFromLeft {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

.status-bar-fill {
    transform-origin: 0% 50%;
    transform: cubic-bezier(.32, 0, .07, 1);
    animation: 0.69s growFromLeft;
    position: absolute;
    height: 100%;
    /* width: auto; */
    background-color: #bd93f9;
    border-radius: 25px;
    /* border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 0px; */
}


#logo {
    border: 10px solid #bd93f9;
    border-radius: 25px;
    box-shadow:
        0 0 10px 5px #f8f8f2;

}

.logo-rotate {
    transform: rotate(180deg);
}



#logo:active {
    /* translate: 4px; */
    transform: translateY(4px);
    border: 10px solid #ff79c6;

}




.status-bar-fill:hover {
    background-color: #ff79c6;
}

footer {
    text-align: center;
    padding: 10px;
    /* margin: 10px; */
}


.darkMode {
    color: #44475a;
    background-color: #f8f8f2;
}